*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-default);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1;
    color: var(--color-grey-light);
    background-color: var(--color-black);
}