:root {
    --font-default: "Helvetica", monospace;
    --color-black: #000;
    --color-white: #fff;
    --color-primary: #ffa500;
    --color-grey-light: #d7d3d3;
    --color-grey-dark: #7d7b82;
    --color-grey-dark-bg: #333740;
}