.btn {
    border:none;
    outline: none;
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
    background-color: var(--color-white);
    transform: scale(1);
    transition: transform .2s ease-in-out;
    box-shadow: 2px 1px 8px #000;
    cursor: pointer;
    &:hover,
    &:focus {
        transform: scale(.85);
    }
}
