.container {
    height: 100vh;
    max-width: 42.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: [controls-start].5fr [controls-end search-start] 1fr [search-end notes-start] minmax(300px, 5fr) [notes-end];
    background-color: var(--color-black);
    border-radius: 3px;
}

@media only screen and (min-width: 450px){
    .container {
        box-shadow: inset 0 0 2px 1px #161616;
        border-radius: 6px;
    }
}

.content {
    width: 100%;
    grid-area: search-start / 1 / notes-end / -1;
    &__swiper-child,
    &__swiper-child::-webkit-scrollbar {
        direction: vertical;
        overflow-y: scroll;
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;  /* IE and Edge */
        scrollbar-width: none;
    }
}

.controls {
    grid-area: controls-start / 1 / controls-end / -1;
  }
  
.searchbar {
    grid-area: search-start / 1 / search-end/ -1;
    margin-bottom: 1rem;
}
  
.list {
    grid-area: notes-start / 1 / notes-end / -1;
    display: flex;
    flex-direction: column;    
}

.addBtn {
    grid-area: 3 / 4 / 4 / 5;
    align-self: flex-end;
    justify-self: center;
    margin-bottom: 3rem;
    margin-right: .5rem;
    z-index: 10;
    &__icon {
        border-radius: 50%;
        height: 5.5rem;
        width: 5.5rem;
        fill: var(--color-primary);
        pointer-events: none;
    }
}

.modal-background {
    grid-area: 1 / 1 / -1 / -1;
    z-index: -100;
    opacity: 0;
    border-radius: 3px;
    background-color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .3s ease-in-out;
    &__icon{
        height: 2.8rem;
        width: 2.8rem;
        fill: var(--color-grey-light);
        &--back {
            float:left;
            grid-area: back;
        }
    }

}

.modal-background--active {
    z-index: 100;
    opacity: 1;
}